doctype
html(lang="pt-br")
	head
		title No Limite da Previdência
		meta(charset="utf-8")
		meta(name="description" content="lorem ipsum dolor sit")
		meta(name="keywords" content="lorem ipsum dolor sit")
		meta(name="robots" content="index, follow")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name='baseUrl', content='http://www.fecomercio.com.br/previdencia')
		meta(http-equiv='imagetoolbar', content='no')
		link(rel='shortcut icon', sizes='16x16 24x24 32x32 48x48 64x64', href='http://www.fecomercio.com.br/favicon.jpg')
		meta(property="og:title" content="FecomercioSP")
		meta(property="og:site_name" content="No Limite da Previdência")
		meta(property="og:url" content="http://www.fecomercio.com.br/previdencia")
		meta(property="og:descrition" content="lorem ipsum dolor sit amet")
		meta(property="og:locale" content="pt_BR")
		meta(property="og:type" content="website")
		meta(property="og:image" content="http://www.fecomercio.com.br/assets/img/fecomercio-sp-image-share.jpg")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css')			
	body
		div.wraper
			div.container
				ul.links
					li
						a(href='#') Fecomercio-SP
					li
						a(href='http://novoportalfecomercio.hospedagemdesites.ws/previdencia/downloads/cartilha_modernizacao_previdencia_tela_simples.pdf', target='_blank') Modernizando o Brasil
					li
						a(href='https://www.facebook.com/fecomercio', target='_blank')
							i.fa.fa-facebook-official(aria-hidden='true')
					li
						a(href='http://www.twitter.com/fecomercio', target='_blank')
							i.fa.fa-twitter-square(aria-hidden='true')
					li
						a(href='https://www.youtube.com/fecomerciosp', target='_blank')
							i.fa.fa-youtube-play(aria-hidden='true')
			section.primary
				p.text-intro  A equação do sistema previdenciário brasileiro não é uma conta simples. E colocar tudo na ponta do lápis, menos ainda. O desafio de pensar o Brasil do ponto de vista econômico nos ajuda a perceber que o atual modelo de previdência está no limite. Em 45 anos, seremos uma nação com 73 milhões de idosos. Por isso, a hora de adotar novas práticas é agora.
			section.second
				h1.title.title_history-color História